<h1 class="center">What is &nbsp;<img src="./images/fda-go-logo-m.png" aria-hidden="true" style="margin-top: -8px;"/><span class="sr-only">FDA-GO</span>&nbsp;?</h1>
<br><br>
<p>FDA-GO provides users with drug search capabilities to view adverse events reported by patients, drug labeling information and reported drug, medical device, and food recalls.</p>

<h2>Getting Started</h2>

<p>To begin your drug search, simply enter drug search criteria within the search field on the main page and click Go.  Drug search is also accessible on the results page. NOTE: All results will only return a maximum of 100 items.</p>

<p>To quickly retrieve the latest drug, medical device, and or food recalls, select one of the recall links located on the main page or on the results page.</p>

<h2>Disclaimer</h2>

<p>This is a prototype application designed to take on the challenge from the FDA to the developer community to take advantage of ther new open API for public data to improve public health.  This application is solely for the purpose as a proof-of-concept and uses the beta API provided by OpenFDA.  All data is provided by the API and complies with the FDA's <a href="https://open.fda.gov/terms/">terms of service</a>.<p>

<p>See <a href="http://open.fda.gov">open.fda.gov</a> for more information.</p>

<h2>Github</h2>
<p>FDA-GO is open source and maintained on Github.</p>
<p><a class="btn btn-success" href="https://github.com/concept-plus/fda-go-design">View the project on Github</a></p>
